:root {
    --main-bg-color: white;
    --green-btn: green;
    --red-btn: #930000;
}

body {
    background-color: skyblue;
}

.link-btn button {
    color: var(--main-bg-color);
    text-decoration: none;
}

#connect-nav {
    color: var(--green-btn);
}

#disconnect-nav {
    color: var(--red-btn);
}

.connect-div {
    margin: 1% 25% 0% 25%;
}

#form-connexion {
    text-align: center;
}

#create-button, .btn-connect{
    margin-top: 1%;
}